{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>HFUT C2C Market {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'market/node_modules/semantic-ui/dist/semantic.min.css' %}" type="text/css" media="all" />
    </head>
    <body>
        <!-- header -->
        <div class="ui olive inverted borderless massive stackable main menu">
            <div class="header item">
				<i class="shop icon"></i>
                HFUT C2C Market
            </div>
            <div class="ui container">
				<a class="{% if home %}active{% endif %} item" href="{% url 'market:index' %}">
                    Home
                </a>
				<div class="right menu">
                    <div class="item">
                        <form class="ui inverted icon input" method="GET">
                            <input name="search" type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </form>
                    </div>

					{% if user.is_authenticated %}
					<div class="ui dropdown item">
                        {% if user.uinfo.avatar %}
						<img class="ui mini avatar image" src="{{ request.scheme}}://{{ request.get_host }}{% url 'market:index' %}{{ user.uinfo.avatar }}">
                        {% else %}
                        <img class="ui mini avatar image" src="{% static 'market/images/user.png' %}">
                        {% endif %}
						<span>{{ user.username }}</span>
						<i class="dropdown icon"></i>
						<div class="menu">
                            <a class="item" href="{% url 'market:password_change' %}"><i class="lock icon"></i>修改密码</a>
                            <a class="item" href="{% url 'market:info_edit' %}"><i class="info icon"></i>修改资料</a>
                            <a class="item" href="{% url 'market:commodity_add' %}"><i class="send icon"></i>发布物品</a>
                            <a class="item" href="{% url 'market:index' %}?mypublish"><i class="list icon"></i>我发布的</a>
                            <a class="item" href="{% url 'market:logout' %}"><i class="sign out icon"></i>注销</a>
						</div>
					</div>
					{% else %}
					<div class="item">
						<a class="ui primary button" href="{% url "market:register" %}">注册</a>
					</div>
					<div class="item">
						<a class="ui button" href="{% url "market:login" %}?next={% url 'market:index' %}">登录</a>
					</div>
					{% endif %}
				</div>
			</div>
        </div>

        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'market/node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'market/node_modules/semantic-ui/dist/semantic.min.js' %}"></script>
		<script>
			$('.ui.dropdown').dropdown();
            $('.delete_confirm').click(function() {
                if(confirm('确定要删除？'))
                    $('.delete').submit()
            })
        </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
