<div class="ui tiny left pointing dropdown grey icon button">
    <i class="setting icon"></i>
    <div class="menu">
        <a  style="color:black;" class="item" href="{% url 'market:commodity_edit' commodityId %}"><i class="edit icon"></i>编辑物品</a>
        <form class="item delete" method="POST" action="{% url 'market:commodity_delete' commodityId %}">
            {% csrf_token %}
            <span  type="submit" class="delete_confirm">
                <i class="trash icon"></i>
                删除物品
            </span>
        </form>
    </div>
</div>

