{% extends "market/base.html" %}
{% load static %}

{% block title %}
- {{ commodity.name }}
{% endblock %}

{% block content %}
<div class="ui padded stacked segment">
    <h1 class="ui huge header">{{ commodity.name }}</h1>
    {% if editable %}
		{% include 'market/commodity_opt.html' with commodityId=commodity.id %}
    {% endif %}

    <div class="ui two column grid">
        <div class="column">
            <h4 class="ui horizontal divider header">
                <i class="announcement icon"></i> 发布信息
            </h4>
            <table class="ui table">
                <tbody>
                    <tr>
                        <td class="four wide column center aligned">发布时间</td><td><i class="calendar icon"></i>{{ commodity.date | date:"Y-m-d H:i" }}</td>
                    </tr>
                    <tr>
                        <td class="center aligned">分类</td>
						<td> <a  href="{% url 'market:index' %}?category={{ commodity.category }}">
								<i class="folder icon"></i>{{ commodity.category }}
							</a> </td>
                    </tr>
                    <tr>
                        <td class="center aligned">标签</td><td><i class="tag icon"></i>

                            {% for tag in commodity.tags.all %}
							<a class="ui mini {% cycle 'red' 'blue' 'pink' 'orange' 'purple' 'green' %} tag label" href="{% url 'market:index' %}?tag={{ tag }}">
                                {{ tag }}
                            </a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="center aligned">价格</td>
                        <td><i class="yen icon"></i>{{ commodity.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="column">
            {% if commodity.user.uinfo.avatar %}
            <h4 class="ui horizontal divider header">
                <img class="ui avatar image" src="{{ request.scheme}}://{{ request.get_host }}{% url 'market:index' %}{{ commodity.user.uinfo.avatar }}">
                {% else %}
                <img class="ui mini avatar image" src="{% static 'market/images/user.png' %}">
                {% endif %}
                发布人
            </h4>

            <table class="ui table">
                <tbody>
                    <tr>
                        <td class="two wide column center aligned">用户名</td>
						<td><i class="user icon"></i>{{ commodity.user.username }}</td>
                    </tr>
                    <tr>
                        <td class="two wide column center aligned">邮箱</td>
						<td><i class="at icon"></i>{{ commodity.user.email }}</td>
                    </tr>
                    <tr>
                        <td class="two wide column center aligned">手机号</td>
						<td><i class="mobile icon"></i>{{ commodity.user.uinfo.phone }}</td>
                    </tr>
                    <tr>
                        <td class="two wide column center aligned">QQ</td>
						<td><i class="qq icon"></i>{{ commodity.user.uinfo.qq }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h4 class="ui horizontal divider header">
        <i class="info circle icon"></i> 商品描述
    </h4>
    <table class="ui table">
        <tbody>
            <tr>
                <td>
                    <img style="width: 200px" class="ui image" src="{{ request.scheme}}://{{ request.get_host }}{% url 'market:index' %}{{ commodity.image }}">
                </td>
                <td class="left aligned">
                    {{ commodity.introduction | linebreaks }}
                </td>
            </tr>
        </tbody>
    </table>
    </p>
</div>
{% endblock %}

