{% extends "market/base.html" %}
{% load static %}

{% block content %}
<div class="ui four column grid">
{% for commodity in commodites_list %}
<!-- {{ commodity }} -->
    <div class="column">
        <div class="ui card">
            <div class="content">
                <div class="right floated meta">{{ commodity.date }}</div>

                {% if commodity.user.uinfo.avatar %}
                <img class="ui avatar image" src="{{ request.scheme}}://{{ request.get_host }}{% url 'market:index' %}{{ commodity.user.uinfo.avatar }}">
                {% else %}
                <img class="ui mini avatar image" src="{% static 'market/images/user.png' %}">
                {% endif %}
                <span>{{ commodity.user.username }}</span>
                <p> <b><a href="{% url 'market:commodity_view' commodity.id %}">{{ commodity.name }}</a></b>
                </p>
            </div>

            <a href="{% url 'market:commodity_view' commodity.id %}">
                <img style="width:265;height:240px;" class="ui centered rounded image" src="{{ request.scheme}}://{{ request.get_host }}{% url 'market:index' %}{{ commodity.image }}">
            </a>

            <div class="content">
                <span class="right floated">
                    <i class="yen icon"></i>
                    {{ commodity.price }}
                </span>
                <i class="folder icon"></i>
                    {{ commodity.category }}

            </div>
            <div class="extra content">
                {% for tag in commodity.tags.all %}
                <a class="ui mini orange tag label">
                    {{ tag }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

