{% extends 'market/base.html' %}

{% block content %}
<div class="ui middle aligned centered grid">
    <div class="six wide column">
        <h2>
            <div class="content">
                修改密码
            </div>
        </h2>
        <form class="ui large form" method="post">
            {% if form.errors %}
            <div class="ui negative message">
                {{ form.errors }}
            </div>
            {% endif %}
            <div class="ui stacked segment">
                {% csrf_token %}
                <div class="field">
                    <label>旧密码</label>
                    {{ form.old_password }}
                </div>
                <div class="field">
                    <label>新密码</label>
                    {{ form.new_password1 }}
                </div>
                <div class="field">
                    <label>重复密码</label>
                    {{ form.new_password2 }}
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <button class="ui fluid large teal submit button" type="submit">修改密码</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
